.menu {
    display: grid;
    justify-content: center;
    align-content: center;
}

.menu > .options {
    display: grid;
    grid-gap: 15px;
}

.user-nick-level {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
    grid-template-columns: auto auto;

    color: var(--main-color);
    font-size: 24px;
    text-shadow: 0 0 10px var(--main-color);

    margin: 30px 0;

    background: rgb(20, 20, 20);
    border-radius: 10px;

    padding: 10px 0;
}

.user-nick-level > p {
    margin: auto;
}

.user-level {
    width: 37px;
    height: 37px;

    border: 2px solid var(--main-color);

    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: "I";
    font-size: 18px;

    box-shadow: 0 0 10px var(--main-color);
    text-align: center;

    background: linear-gradient(to top, var(--main-color) var(--player-level-in-percent), transparent var(--player-level-in-percent));
}

.user-level > * {
    grid-area: I;
    margin: auto;
}

.user-level > div {
    width: 25px;
    height: 25px;

    background: var(--game-background);
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 5px var(--main-color);
    border-radius: 50%;
}


.tape {
    transition: width 0.5s, height 0.5s, top 0.5s, right 0.5s;

    position: fixed;
    top: -103px;
    right: -103px;

    width: 200px;
    height: 200px;

    background: var(--game-background);
    border: 3px solid var(--main-color);

    transform: rotate(45deg);

    display: grid;
    justify-content: center;
    align-content: center;

    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 10px var(--main-color);
    box-shadow: 0 0 30px var(--main-color);
}

.tape:hover {
    top: -128px;
    right: -128px;
    width: 250px;
    height: 250px;
}

.tape > p {
    transition: margin-top 0.5s;
    margin-top: 130px;
}

.tape:hover > p {
    margin-top: 160px;
}

.tape > p > a {
    color: var(--second-color);
    text-shadow: 0 0 20px var(--second-color);
}